ul {
  list-style: none;
}
.container {
  border-style: solid;
  border-color: #f0f0f0;
  border-radius: 10px;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  color: #f0f0f0;
}
#shown-city {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.dateTime {
  font-size: large;
}
.city {
  text-align: center;
  margin-top: 20px;
}
.temperature {
  text-align: center;
  padding-top: 15px;
}
.units {
  text-decoration: none;
  color: #f4f56e;
  font-size: small;
  position: relative;
  bottom: 15px;
}
.weather-icon {
  font-size: 60px;
}
.details {
  margin-top: 90px;
  font-size: 16px;
  font-weight: 500;
}
.search-city {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card {
  text-align: center;
}
footer {
  text-align: center;
  margin-top: 10px;
  color: gray;
}
